<div id="postcode-subscribe-btn-container" hidden style="margin-top: 20px; margin-left: auto;">
  <p>You can also subscribe below and we will notify you once we start delivering to this address!</p>
  <form style="margin-top: 10px;">
    <div class="form-row align-items-center">
      <div class="col-auto">
        <input type="email" required class="form-control" placeholder="Your Email Address">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-dark btn-sm">Subscribe</button>
      </div>
    </div>
  </form>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
